<h1>Services</h1>>

<div class="card">
    <h2>App counter {{ counterService.counter }}</h2>

    <button class="btn" (click)="counterService.increase()">+</button>
    <button class="btn" (click)="counterService.decrease()">-</button>
</div>

<div class="card">
        <h2>App local counter {{ localCounterService.counter }}</h2>
    
        <button class="btn" (click)="localCounterService.increase()">+</button>
        <button class="btn" (click)="localCounterService.decrease()">-</button>
    </div>

    <div class="card">
            <h2>App counter {{ counterService.counter }}</h2>
        
            <button class="btn" (click)="counterService.increase()">+</button>
            <button class="btn" (click)="counterService.decrease()">-</button>
        </div>