div {
    display: inline-block;

    button {
        padding: .5rem 1rem;
        font-size: 1rem;
        color: #fff;
        background: red;
        border: 0;
        outline: 0;

        &.active {
            background: green;
        }
    }
}