<div class="container">
  <h1>Components</h1>
  <!-- <app-post-form (onAdd)="updatePosts($event)"> </app-post-form>
  <hr />
  <app-post *ngFor="let post of posts" [post]="post" (onRemove)="removePost($event)">
    <div #info>
      <small *ngIf="post.text.length > 10; else short">
        Пост длинный
      </small>
      <ng-template #short>
        Пост короткий
      </ng-template>
    </div>
  </app-post>

  <div appStyle="red" fontWeight="bold" [number]="10" [dStyle]="{fontStyle: 'italic', borderRadius: '50px', border: '1px solid red'}">Тра ля ля</div>

  <div appStyle [fontSize]="'15px'" [dclassName]="'test'">Тра ля ля</div>

  <p><button class="btn" (click)="isVisible = !isVisible">Toggle</button></p>

  <ng-template [ngIf]="isVisible">
    <div class="wrap">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit rem provident? Omnis eum temporibus ipsa, eligendi necessitatibus dolores consequatur?</p>
    </div>
  </ng-template>



    <div class="wrap" *appIfNot="!isVisible">
      <p>2Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit rem provident? Omnis eum temporibus ipsa, eligendi necessitatibus dolores consequatur?</p>
    </div>  



    <app-pipes></app-pipes>



    <app-service></app-service> -->

    <!-- <app-forms></app-forms> -->


    <!-- своя ngModel -->
    <!-- <app-switch [(ngModel)]="appState" (ngModelChange)="handleChange()"></app-switch>
    <hr/>
    <p>appState: {{appState}}</p> -->
  <!--// своя ngModel -->

  <!-- http client --->
  <app-http-client></app-http-client>    
  <!--// http client -->

  <br/><br/><br/><br/><br/><br/>




    
</div>
